PORT=3000
BASE_URL="http://localhost:3000"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hasmart?schema=public"

# JWT Config
JWT_ACCESS_SECRET="your-super-secret-access-key-minimum-32-chars"
JWT_REFRESH_SECRET="your-super-secret-refresh-key-minimum-32-chars"
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="24h"
